.home {
  display: flex;

  .homeContainer {
    flex: 6;
    margin-top: 5rem;
    background: linear-gradient(to right, #fff1f2, #ecfccb);

    .progressHeader {
      margin-top: 20px;
      margin-left: 50px;
      font-weight: bold;
      font-size: 20px;
    }

    .progressText {
      margin-top: 10px;
      margin-left: 12px;
      font-size: 14px;
      color: white;
      font-weight: bold;
    }

    .progressBox {
      border: 2px solid #3498db;
      border-radius: 10px;
      padding: 20px;
      margin-top: 10px;
      margin-left: 5rem;
      display: flex;
      justify-content: space-around;
      width: 80%;
      background-color: #064e3b;
    }

    .CircularProgressbar {
      width: 80px;
      height: 80px;
    }

    .CircularProgressbar-text {
      font-si.progressBox {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        justify-content: space-around;
      }

      .progressItem {
        text-align: center;
      }

      .CircularProgressbar {
        width: 80px;
        height: 80px;
      }

      .CircularProgressbar-text {
        font-size: 16px;
        fill: #3498db;
      }

      .react-circular-progressbar {
        &-path {
          stroke: #3498db;
        }
      }
    }

    .calendarNewsContainer {
      display: flex;
      flex-direction: row;
      margin-left: 15%;
      margin-top: 30px;
    }

    .calendarContainer,
    .newsContainer {
      padding: 10px;
      border: 2px solid #3498db;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      width: 30%;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }

    .calendarContainer {
      margin-bottom: 20px;
      margin-right: 5rem;
    }

    .calendarLabel {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .newsContainer h2 {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .newsContent {
      /* Add styles for the news content as needed */
    }
  }

  @media only screen and (max-width: 1200px) {
    .homeContainer {
      flex: 8;
      margin-top: 4rem;
    }

    .progressBox {
      width: 90%;
      margin-left: 5%;
    }

    .calendarNewsContainer {
      margin-left: 5%;
    }

    .calendarContainer,
    .newsContainer {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .homeContainer {
      flex-direction: column;
      margin-top: 2rem;
    }

    .progressHeader {
      margin-left: 20px;
    }

    .progressBox {
      flex-direction: column;
      width: 90%;
      margin-left: 5%;
    }

    .calendarNewsContainer {
      margin-left: 5%;
    }

    .calendarContainer,
    .newsContainer {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
