body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars */
  }
  
  .cover {
    position: relative;
    width: 100vw; /* Use viewport width instead of a percentage */
    height: 100vh; /* Use viewport height instead of min-height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem; /* You can adjust the value based on your design */
    padding: 1rem; /* You can adjust the value based on your design */
    overflow: hidden; /* Prevents scrollbars */
  }
  
  .background_image {
    position: absolute;
    z-index: -1; /* Change z-index to -1 to ensure it's behind other content */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .background_image2 {
    width: 100%;
    max-width: 400px; /* Set the maximum width as needed */
    height: auto;
    overflow: hidden;
    position: relative;
  }
  
  .image-carousel {
    display: flex;
    animation: carouselAnimation 10s linear infinite; /* Adjust the duration as needed */
  }


@keyframes carouselAnimation {
    0% {
        transform: translateX(0);
    }
    16.66% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    83.33% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}

  

  .typed-text {
    color: #1a2e05;
    margin-top: 2rem;
  }
  .box {
    padding: 1rem; /* equivalent to px-4 py-8 */
    border-radius: 0.375rem; /* equivalent to rounded */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* equivalent to shadow-sm */
    background-color: #ffffff; /* equivalent to bg-white */
    display: flex; /* equivalent to flex */
    flex-direction: column; /* equivalent to flex-col */
    gap: 1rem; /* equivalent to gap-4 */
    border: 1px solid #e2e8f0; /* equivalent to border */
    width: auto;
    margin-bottom: 4rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  label {
    font-size: 1rem;
    color: #1a2e05;
  }
  
 

  .input-field {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 36px);
    box-sizing: border-box;
  }
  
  .eye-button {
    margin-left: 3px;
    margin-top: 16px;
  }

  .btn {
    background-color: #1a2e05;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }


  .btn:hover {
    background-color: #5f6061; /* Change the hover color as needed */
  }
  
  .forgot-password {
    color: #1a2e05; /* Change the color as needed */
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 8px; /* Adjust the margin as needed */
  }
  
  .forgot-password:hover {
    color: #5f6061; /* Change the hover color as needed */
  }
